<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :canonical_url, label: @recipe.new_record? ? icon("cloud_download") + " Import URL " + link_to('...or enter manually', '#form-details', data: {toggle: 'collapse'}) : "URL" %>
    <% if @recipe.new_record? && current_user.book.recipes.count == 0 %>
      <div id="importer-examples">
        <strong>Try out the importer with one of these recipes:</strong>
        <a href="http://www.seriouseats.com/recipes/2016/02/penne-pasta-arrabbiata-sauce-recipe.html"><em>Penne With Hot-As-You-Dare Arrabbiata Sauce Recipe</em> from Serious Eats</a>
        <a href="http://www.simplyrecipes.com/recipes/spaghetti_alla_carbonara/"><em>Spaghetti Pasta Carbonara</em> from Simply Recipes</a>
        <a href="http://www.epicurious.com/recipes/food/views/pasta-with-roasted-romanesco-and-capers"><em>Pasta With Roasted Romanesco and Capers</em> from Epicurious</a>
      </div>
    <% end %>
    <div id="form-details" class="<%= "hide" if @recipe.new_record? %>">
      <%= f.input :name %>
      <%= render "text_helper" %>
      <%= f.input :description, input_html: {rows: 10} %>
      <%= f.input :ingredients, input_html: {rows: 20}, hint: "One per line, create sections by prepending with ##" %>
      <%= render "text_helper" %>
      <%= f.input :instructions, input_html: {rows: 20}, hint: "Use double line breaks to create separate steps. Remove step numbers." %>
      <%= f.input :cook_time %>    
      <%= f.input :author %>    
      <%= f.input :prep_time %>
      <%= f.input :total_time %>
      <%= f.input :yield %>
      <%= f.input :tag_list, label: "Tags", hint: "As many as you want like 'Beef' or 'Slow Cooker'", as: "select", input_html: { multiple: true }, selected: @recipe.owner_tags_on(@recipe.book, :tags), collection: @tags.try(:map) {|x| x[:name]} %>
      <%= f.input :category_list, label: "Categories", hint: "Typically belongs to one or two like 'Dinner' or 'Appetizers'", as: "select", input_html: { multiple: true }, selected: @recipe.owner_tags_on(@recipe.book, :categories), collection: @categories.try(:map) {|x| x[:name]} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
