<p id="notice"><%= notice %></p>
<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
  <div class="input-search">
    <%= link_to icon("clear").html_safe, "/", class: "clear-search" if params[:search].present? %>
    <%= text_field_tag :search, params[:search], placeholder: "Search recipes" %>
  </div>
  <%= button_tag icon("search").html_safe, class:"btn-outline" %>
<% end %>
<% if @recipes.present? %>
  <ul class="recipes">
    <% @recipes.each do |recipe| %>
      <li>
        <h1><%= link_to recipe.name, recipe %></h1>
      </li>
    <% end %>
  </ul>
<% elsif params[:search].present? %>
  <h1>No results for <em><%= params[:search] %></em></h1>
<% else %>
  <h1>No recipes created yet</h1>
<% end %>
<hr>
<%= link_to icon('add')+" New Recipe", new_recipe_path, class: "btn" %>