<p id="notice"><%= notice %></p>
<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
  <div class="input-search">
    <%= link_to "&times;".html_safe, "/", class: "clear-search" if params[:search].present? %>
    <%= text_field_tag :search, params[:search], placeholder: "Search recipes" %>
  </div>
  <%= submit_tag "Search", class:"btn-outline" %>
<% end %>
<% if @recipes.present? %>
  <ul class="recipes">
    <% @recipes.each do |recipe| %>
      <li>
        <h1><%= link_to recipe.name, recipe %></h1>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1>No results for <em><%= params[:search] %></em></h1>
<% end %>
<hr>
<%= link_to 'New Recipe', new_recipe_path, class: "btn" %>
