<%= render "shared/index_header" %>
<div class="toolbar">
    <%= form_tag(recipes_path, :method => "get", id: "search-form", class: "toolbar-item") do %>
      <div class="input-search">
        <%= link_to icon("close").html_safe, "/", class: "clear-search" if params[:search].present? %>
        <%= text_field_tag :search, params[:search], placeholder: "Search recipes" %>
      </div>
      <%= button_tag icon("magnify").html_safe, class:"btn-outline" %>
    <% end %>
</div>
<hr>

<% if @recipes.present? %>
  <% if params[:search].present? %>
      <ul class="recipes">
      <% @recipes.each do |recipe| %>
        <%= render recipe %>
      <% end %>
      </ul>
  <% else %>
  <% if @pinned_recipes.present? %>
    <ul class="recipes">
    <% @pinned_recipes.each do |recipe| %>
      <%= render recipe %>
    <% end %>
    </ul>
  <% end %>  
    <ul class="tabs">
      <% @categories.each_with_index do |category, index| %>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link <%= "is-active" if index == 0 %>"><%= category.name %> (<%= category.taggings_count %>)</a>
          <div class="tab-content">
            <ul class="recipes">
            <% @recipes.tagged_with(category.name).each do |recipe| %>
              <%= render recipe %>
            <% end %>
            </ul>
          </div>
        </li>
      <% end %>
      <% if @uncategorized_recipes.present?  %>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link <%= "is-active" unless @categories.present? %>">Uncategorized (<%= @uncategorized_recipes.count %>)</a>
          <div class="tab-content">
            <ul class="recipes">
            <% @uncategorized_recipes.each do |recipe| %>
              <%= render recipe %>
            <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% elsif params[:search].present? %>
  <h1>No results for <em><%= params[:search] %></em></h1>
<% else %>
  <h1>No recipes created yet</h1>
<% end %>