<div class="toolbar">
  <span class="toolbar-item">
    <%= link_to icon("arrow_back").html_safe, recipes_path, class: "btn btn-outline" %>
  </span>
  <span class="toolbar-item">
    <%= link_to icon("edit") + " Edit", edit_recipe_path(@recipe), class: "btn btn-link" %>
    <%= link_to icon("link") + "Source", @recipe.canonical_url, target: "_blank", class: "btn btn-link" %>
  </span>
</div>
<hr>
<article class="recipe">
  <header>
    <h1><%= @recipe.name %></h1>
    <dl class="meta">
      <%= definition "Author", @recipe.author %>
      <%= definition "Prep time", @recipe.prep_time %>
      <%= definition "Cook time", @recipe.cook_time %>
      <%= definition "Total time", @recipe.total_time %>
      <%= definition "Yield", @recipe.yield %>
    </dl>
  </header>
  <section class="description">
    <p><%= @recipe.description %></p>
    <hr>
  </section>

  <section class="ingredients">
    <strong>Ingredients</strong>
    <ul>
    <% @recipe.ingredients.split("\n").each do |ingredient| %>
      <%= ingredient_formatter(ingredient) %>
    <% end %>
    </ul>
  </section>

  <section class="instructions">
    <strong>Instructions</strong>
    <ul>
    <% @recipe.instructions.gsub(/\r/, "").split(/\n{2,}/).each_with_index do |step, index| %>
      <a name="s-<%= index + 1 %>"></a>
      <li data-step="<%= index + 1 %>" id="s-<%= index + 1 %>" class="step"><strong>Step <%= index + 1 %></strong><br> <%= step %></li>
    <% end %>
    </ul>
    <nav class="pager">
      <a href="#" id="prev" class="btn btn-outline disabled"><%= icon("arrow_upward", 48) %></a>
      <a href="#s-1" id="next" class="btn btn-outline"><%= icon("arrow_downward", 48) %></a>
    </nav>    
  </section>
  <footer>
    <hr>
    <dl class="meta">
      <dt>Tags</dt>
        <dd>
        <% @recipe.owner_tags_on(current_user, :tags).each_with_index do |tag, index| %>
          <%= link_to tag.name, tag_path(tag) %><%= "," if index+1 != @recipe.owner_tags_on(current_user, :tags).length %>
        <% end %>
        </dd>
      <dt>Categorization</dt>
        <dd>
        <% @recipe.owner_tags_on(current_user, :categories).each do |category| %>
          <%= link_to category.name, category_path(category) %>
        <% end %>
        </dd>
    </dl>
    <hr>
  </footer>
</article>
<%= debug @recipe %>