<header class="index">
  <div class="header-item">
    <%= link_to icon("add")+" New Recipe", new_recipe_path, class: "btn toolbar-item" %>
  </div>
  <div class="header-item">
    <%= link_to image_tag("mise-logo.svg", class:"logo"), root_path %>
  </div>
  <div class="header-item">
    <div class="modal">
      <label for="user-modal">
        <div class="modal-trigger btn btn-link"><%= icon("account_circle") %></div>
      </label>
      <input class="modal-state" id="user-modal" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="user-modal"></div>
            <div class="text-center">
            <%= gravatar_image_tag(current_user.email, class: "avatar") %>
            <h2><%= current_user.email %></h2>
            <%= link_to icon("settings")+" Settings", edit_user_registration_path, class: "btn btn-link" %>  
            <%= link_to icon("exit_to_app")+" Sign out", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
            </div>
            <hr>
            <strong>Collaborate</strong>
            <p>Invite other users to your recipe book with this URL. When they accept your invitation they get access to your recipes and you get access to theirs.
            <div class="share-form">
              <input id="share" type="text" value="<%= "#{root_url}invite/#{current_user.invite_token}" %>">
              <button class="btn btn-link btn-copy" data-clipboard-target="#share">
                <%= icon("content_copy", 18) %>
              </button>
            </div>
            <% if @books.count > 1 %>
              <hr>            
              <strong>You are currently collaborating with:</strong>
              <% @books.each do |book| %>
                <% if book.user != current_user %>
                  <%= book.user.email %>
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</header>