<div class="page-centered">
  <h1><%= link_to icon("arrow-left").html_safe, :back, class: "btn btn-outline" %> Editing category <em><%= @category.name %></em></h1>
  <%= simple_form_for(@category, as: "category", url: category_path(@category)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update Category" %>
    </div>
  <% end %>
</div>