<!DOCTYPE html>
<html>
<head>
  <title>Mise</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, user-scalable=no, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
  <meta name="description" content="Simple recipe organizer">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>
    <p id="notice" class="flash"><%= notice %></p>
    <p id="alert" class="flash"><%= alert %></p>
    <%= yield %>
    <%= render "shared/user" %>
  </main>
  <iframe id="source"></iframe>
</body>
</html>

<%= debug current_user %>

